.login {
  .logo {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 34px;
  }
  h1 {
    text-align: center;
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
  }
  h3 {
    margin: 8px 0 4px 6px;
  }
  p {
    margin: 12px 2px 0 2px;
    text-align: center;
  }
  .login_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    .login_button {
      border: none;
      margin: 16px auto;
      width: 300px;
      border-radius: 12px;
      padding: 12px 0 12px 0;
      cursor: pointer;
      font-size: 24px;
      transition: 0.15s;
    }
    .login_button:hover {
      transform: scale(1.05);
    }
    .login_button_no_click{
      background-color: #1995f570;
      color: #ffffff;
      cursor: no-drop;
    }
    .login_button_no_click:hover {
      transform: scale(1);
    }
    .eye{
      display: block;
      height: 286px;
      margin: auto 0;
      position: absolute;
      margin-left: 260px;
      width: 22px;
    }
    .error_text{
      margin-top: 12px;
      color: #df2f2f;
      font-size: 24px;
    }
  }
  a {
    color: black;
    font-size: 24px;
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    transition: 0.15s;
  }
  a:hover {
    transform: scale(1.05);
  }
}
