.main {
  .all_rests {
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 1100px) {
    .all_rests {
      grid-template-columns: 1fr 1fr;
    }
  }  
  @media (max-width: 750px) {
    .all_rests {
      grid-template-columns: 1fr;
    }
  }
}
