.all {
  min-height: 100vh;
  min-width: 100%;
  .main_color {
    background-color: #1995f5;
    color: #fff;
  }
  h1,
  h2,
  h3,
  p,
  a,
  input {
    color: #000;
  }
  .gray_p {
    color: #787576;
  }
  .input {
    outline: none;
    font-size: 16px;
    border: none;
    background-color: #eff1f3;
    padding: 16px;
    border-radius: 12px;
  }
}
